.eventsPage {
    width: 100%;
    max-width: 1200px;
    /* max-width: 65ch; */
    margin: 2rem 0;
    padding: 2rem;
}

.eventsPage h1 {
    font-family: "RedHatMono", monospace;
    font-size: 1.8em;
    margin: 1.5rem 0;
    color: var(--orange-400);
}

.eventsGrid {
    display: grid;
    gap: 1.5rem;
    grid-auto-flow: dense;
}

.eventLink {
    text-decoration: none;
    color: inherit;
    transition: transform 0.2s ease;
}

.eventLink:hover {
    transform: translateY(-2px);
}

.eventCard {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.eventTitle {
    font-family: "RedHatMono", monospace;
    font-size: 1.2em;
    margin: 0;
    color: var(--orange-300);
}

.eventDate {
    display: block;
    font-family: "RedHatMono", monospace;
    font-size: 0.9em;
    margin: 0.5rem 0;
    color: var(--orange-400);
}

.eventLocation {
    font-family: "RedHatMono", monospace;
    font-size: 0.9em;
    margin-bottom: 0.5rem;
    font-weight: 500;
}

.eventDescription {
    font-family: "RedHatDisplay", sans-serif;
    font-size: 0.95em;
    color: #ab4100;
    margin: 0.5rem 0;
    line-height: 1.4;
    flex-grow: 1;
}

.tagList {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin-top: 0.75rem;
    position: relative;
    /* From bottom */
    bottom: 0;
}

.tag {
    font-family: "RedHatMono", monospace;
    font-size: 0.8em;
    padding: 0.2rem 0.5rem;
    background-color: var(--orange-400);
    border: 1px solid var(--cyan);
    border-radius: 4px;
    color: white;
    font-weight: bold;
}

.eventSource {
    font-size: 0.8em;
    margin-top: 0.75rem;
    text-align: right;
    color: var(--gray-800);
    font-style: italic;
}

.message {
    text-align: center;
    padding: 2rem;
    color: var(--gray-800);
    font-family: "RedHatMono", monospace;
}

.errorMessage {
    text-align: center;
    padding: 2rem;
    color: #a83232;
    font-family: "RedHatMono", monospace;
    border: 3px solid #a83232;
}

@media (min-width: 768px) {
    .eventsGrid {
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }
}

@media (prefers-color-scheme: dark) {
    .message {
        color: var(--gray-300);
    }
}
