.Card {
    border: var(--default-border);
    height: 100%;
    display: flex;
    flex-direction: column;
    user-select: none;
    background-color: var(--background);
}

@media (prefers-color-scheme: dark) {
    .Card {
        background-color: var(--orange-400);
    }
}

.Card > div {
    overflow: hidden;
    overflow-wrap: break-word;
    hyphens: auto;
    color: var(--foreground);
    background-color: var(--background);
    width: 100%;
    padding: var(--space-xl);
    box-sizing: border-box;
    flex: 1;
}

.Card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    margin: 0;
}
