.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.8rem 1rem;
    border: 3px solid var(--orange-300);
    color: #ff4f00;
}

.navbar h2 {
    font-size: 1.5rem;
    margin: 0;
    padding: 0;
}

.navbar div {
    display: flex;
    gap: 1rem;
}
