.page {
    --gray-rgb: 0, 0, 0;
    --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
    --gray-alpha-100: rgba(var(--gray-rgb), 0.05);

    --button-primary-hover: #383838;
    --button-secondary-hover: #f2f2f2;

    display: grid;
    grid-template-rows: 20px 1fr 20px;
    align-items: center;
    justify-items: center;
    min-height: 100svh;
    padding: 80px;
    gap: 64px;
    font-family: var(--font-geist-sans);
}

.linklist .pink {
    color: #f769b0;
    border-color: #f769b0;
}

.linklist .blue {
    color: #21b1f3;
    border-color: #21b1f3;
}

.linklist .orange {
    color: var(--orange-300);
    border-color: var(--orange-300);
}

.linklist .purple {
    color: #bd57cf;
    border-color: #bd57cf;
}

.linklist .button {
    padding-inline: 30px;
    text-align: center;
    font-weight: normal;
    border-radius: 30px;
    padding: var( --space-lg);
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 32px;
    background-image: url('/orange-splash.jpg');
    background-size: cover;
    background-position: center;
}

.main h1 {
    color: var(--gray-100);
    margin: 0;
    padding: 0;
}

.main h4 {
    color: var(--gray-100);
    margin: 0;
    padding: 0;
}

.linklist {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 30%;
}

.link {
    text-align: center;
    border: 2px solid;
    padding: 0.5em 1em;
    border-radius: 6px;
    font-weight: bold;
    transition: border-color 0.2s, color 0.2s;
}

/* Icons */
.socials {
    display: flex;
    gap: 1.5rem;
}

.social {
    height: 2rem;
    aspect-ratio: 1/1;
}

.social > * {
    height: 100%;
    width: 100%;
    background-color: var(--gray-200);
}

.discord {
    -webkit-mask: url("/icons/discord.svg") no-repeat center / contain;
    mask: url("/icons/discord.svg") no-repeat center / contain;
}

.instagram {
    -webkit-mask: url("/icons/instagram.svg") no-repeat center / contain;
    mask: url("/icons/instagram.svg") no-repeat center / contain;
}

.youtube {
    -webkit-mask: url("/icons/youtube.svg") no-repeat center / contain;
    mask: url("/icons/youtube.svg") no-repeat center / contain;
}

.facebook {
    -webkit-mask: url("/icons/facebook.svg") no-repeat center / contain;
    mask: url("/icons/facebook.svg") no-repeat center / contain;
}

@media (prefers-color-scheme: dark) {
    .page {
        --gray-rgb: 255, 255, 255;
        --gray-alpha-200: rgba(var(--gray-rgb), 0.145);
        --gray-alpha-100: rgba(var(--gray-rgb), 0.06);

        --button-primary-hover: #ccc;
        --button-secondary-hover: #1a1a1a;
    }
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
    a.primary:hover {
        background: var(--button-primary-hover);
        border-color: transparent;
    }

    a.secondary:hover {
        background: var(--button-secondary-hover);
        border-color: transparent;
    }

    .footer a:hover {
        text-decoration: underline;
        text-underline-offset: 4px;
    }
}

@media (max-width: 600px) {
    .page {
        padding: 32px;
        padding-bottom: 80px;
    }

    .main {
        align-items: center;
    }

    .main ol {
        text-align: center;
    }

    .ctas {
        flex-direction: column;
    }

    .ctas a {
        font-size: 14px;
        height: 40px;
        padding: 0 16px;
    }

    a.secondary {
        min-width: auto;
    }

    .footer {
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
}

@media (prefers-color-scheme: dark) {
    .logo {
        filter: invert();
    }
}
